{
  "singleQuote": false,
  "trailingComma": "all",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 80,
  "importOrder": [
    "^@nestjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ]
}